pkgbase = tradingview
	pkgdesc = A charting platform for traders and investors
	pkgver = 2.8.1
	pkgrel = 1
	url = https://www.tradingview.com/desktop/
	arch = x86_64
	license = LicenseRef-TradingView
	makedepends = links
	source = tradingview-2.8.1.deb::https://tvd-packages.tradingview.com/ubuntu/stable/pool/multiverse/t/tradingview/jammy/tradingview-2.8.1-1_amd64.deb
	source = tradingview.sh
	b2sums = 404580b1978d7873ca3a4df7a958fb3a98e343e24573fee7aaad46b304400588a2c0238fe6ae29514e20174a3e4b3777ea5257ad431bc254e0a3810a5c498692
	b2sums = 1c7aaed8c8a4dad5030dc2f5506915e29d3b5ce19a61455db8be6821bc156ce6b779f7f4c63fd3929a141232443a4f5979e49c8ba3a18424d2854ec684e2f037

pkgname = tradingview
	depends = electron30
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libsecret
	optdepends = libappindicator-gtk3: Systray indicator support
