pkgbase = tradingview
	pkgdesc = A charting platform for traders and investors
	pkgver = 2.9.4
	pkgrel = 1
	url = https://www.tradingview.com/desktop/
	arch = x86_64
	license = LicenseRef-TradingView
	makedepends = links
	source = tradingview-2.9.4.deb::https://tvd-packages.tradingview.com/ubuntu/stable/pool/multiverse/t/tradingview/jammy/tradingview-2.9.4-1_amd64.deb
	source = tradingview.sh
	b2sums = 57f1e5153c7b218c03c863048dd2b54df31607768168849c9fb3a4b0c15475c2f8f2bdd60b200a9eb60a4254283003658d61d50e0fa1ac80a57e2d18e939ed97
	b2sums = 1c7aaed8c8a4dad5030dc2f5506915e29d3b5ce19a61455db8be6821bc156ce6b779f7f4c63fd3929a141232443a4f5979e49c8ba3a18424d2854ec684e2f037

pkgname = tradingview
	depends = electron30
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libsecret
	optdepends = libappindicator-gtk3: Systray indicator support
