pkgbase = tradingview
	pkgdesc = A charting platform for traders and investors
	pkgver = 2.8.0
	pkgrel = 1
	url = https://www.tradingview.com/desktop/
	arch = x86_64
	license = LicenseRef-TradingView
	makedepends = links
	makedepends = squashfs-tools
	noextract = tradingview-2.8.0.snap
	source = tradingview-2.8.0.snap::https://api.snapcraft.io/api/v1/snaps/download/nJdITJ6ZJxdvfu8Ch7n5kH5P99ClzBYV_55.snap
	b2sums = 6786be21ca650488efab72c56877b80189722696f2d73995c0fb2c6874a4a67981112bb8086ce721d6b9a3ff80d71ca5a4db41a3629976feacf2e1d324d2221d

pkgname = tradingview
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libcups
	depends = libdrm
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
